.db-table{
  margin:  0 auto;
  width: 100%
}

.db-table th, td{
  padding: 0 5px;
}

.db-table th{
  background-color: var(--pink);
  color: white;
}

.db-table td{
  position: relative;
  font-weight: 500;
}

.db-table tbody tr:hover{
  background-color: rgb(197, 232, 238);
}

.odd{
  background-color: rgba(244, 110, 111, .3);
}

.db-more{
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  float: center;
  margin: 0 auto;
  box-shadow: 0;
}

.db-more::after{
  outline: 0;
  border: 0;
  background: transparent;
}

.bottom-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5rem;
}

.bottom-container span{
  font-size: 1.3rem;
}
