#sh-row{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.search-right{
  display: flex;
  align-items: baseline;
}

.search-right button{
  margin-left: .4rem;
}

.orden-drop-btn{
  margin: 0 5px 0 0;
  padding: 0 5px;
  height: 100%;
  border: 1px solid var(--fucsia);
  border-radius: 20px;
  background-color: transparent;
  outline: 0;
  box-shadow: 0;
  color: var(--fucsia);
  padding: 0 .6rem;
}

.orden-drop-btn:hover{
  color: white;
}

#filter, #filter::placeholder{
  color: var(--fucsia);
}
